
.nextui-c-lfcDHB{
padding:0px;
}

.nextui-c-fMAxGR{
    padding:0px;
}
.nextui-c-dJMBOt-ikKgfpe-css{
    height:fit-content;
}

.nextui-c-gNVTSf{
    width: 0px !important;
    height: 0px !important;
    margin: 0px !important;
}